body {
  font-family: helvetica;
  text-align: center;
  background-color: #999;
  color: #fff;
}

.container {
  margin: auto;
  width: 900px;
}

h1 {
  letter-spacing: -3px;
}

ul {
  list-style-type: none;
  font-size: 120%;
  width: 300px;
  margin: auto;
}

p {
  margin: 20px auto;
}


.light-background {
  background-color: #fff;
  color: #000;
}

.dark-background {
  background-color: #000;
  color: #fff;
}

.pgph {
  background-color: yellow;
  border: 1px solid #999;
  border-radius: 5px;
}

.pgph2 {
  background-color: #fff;
  color: blue;
}

.btn {
  margin: 20px;
}
